body {
    text-align: center;
    background-color: black;
  }

  h1 {
      color: white;
      text-decoration: underline;
      font-family:'Courier New', Courier, monospace
  }
  
  textarea {
    width: 32%;
    height: 250px;
    margin: auto;
    display: inline-block;
    background: #f4f4f9;
    font-family: Courier;
    font-size: 14px;
  }
  
  iframe {
    background-color: white;
    width: 95%;
    height: 35em;
    border :10px solid rgb(201, 233, 113);
  }
